<nav
  class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top"
  *ngIf="navbar"
>
  <div class="container-fluid">
    <a *ngIf="navbar.url" routerLink="/" class="navbar-brand">
      <img
        alt="Streamer Station"
        [src]="navbar.url"
        class="img-fluid"
        width="200"
        height="200"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li
          class="nav-item pe-3"
          *ngFor="let item of navbar?.navbarMenus"
          [ngSwitch]="
            item.link.includes('/cart') ||
            item.name.includes('bi bi-') ||
            item.name === 'Verify Designers'
          "
          [class.dropdown]="item.nestedMenus?.length"
        >
          <!-- For regular menu items -->
          <ng-container *ngSwitchCase="false">
            <a
              class="nav-link text-center text-white"
              [routerLink]="item.link"
              routerLinkActive="active"
            >
              {{ item.name }}
            </a>
            <ul
              *ngIf="item.nestedMenus?.length"
              class="dropdown-menu bg-dark p-2"
            >
              <li *ngFor="let nested of item.nestedMenus">
                <a
                  class="dropdown-item px-3 py-2 rounded text-secondary"
                  [routerLink]="nested.link"
                  >{{ nested.name }}</a
                >
              </li>
            </ul>
          </ng-container>

          <!-- For cart icon item -->
          <ng-container *ngSwitchCase="true">
            <div
              *ngIf="
                item.link.includes('/cart') && item.name.includes('bi bi-')
              "
            >
              <a class="position-relative" [routerLink]="item.link">
                <i
                  [class]="item.name"
                  style="font-size: 1.5rem; color: white"
                ></i>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                  >0</span
                >
              </a>
            </div>
          </ng-container>

          <!-- For button item -->
          <ng-container *ngSwitchCase="true">
            <div *ngIf="item.name === 'Verify Designers'">
              <button
                class="btn rounded-pill btn-dark text-white fw-bolder border ms-2 px-5 py-2 text-uppercase"
                [routerLink]="item.link"
              >
                {{ item.name }}
              </button>
            </div>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</nav>
