<!-- Gaming Room banner -->
<ng-container *ngIf="roomHeader">
  <div
    class="container-fluid position-relative"
    [style.background-image]="'url(' + roomHeader.imageUrl + ')'"
    style="
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 70vh;
    "
  >
    <!-- Overlay -->
    <div
      class="overlay position-absolute w-100 h-100"
      style="background-color: rgba(0, 0, 0, 0.5); top: 0; left: 0; z-index: 1"
    ></div>
    <div
      class="row text-center position-relative d-none d-lg-block"
      style="padding-top: 12rem; z-index: 2"
    >
      <h1 class="elementor-heading-title fw-bolder" style="font-size: 4rem">
        {{ roomHeader.title }}
      </h1>
    </div>
    <div
      class="row text-center position-relative d-lg-none d-block"
      style="padding-top: 6rem; z-index: 2"
    >
      <h1 class="elementor-heading-title fw-bolder">
        {{ roomHeader.title }}
      </h1>
    </div>
  </div>
</ng-container>
