<!-- Gaming Room Header Banner -->
<app-header-banner
  [headerBannerComponent]="{
    services: false,
    gamingRoom: true,
    portfolio: false,
    vtuberModel: false,
    graphicDesign: false
  }"
></app-header-banner>
<!-- Animated Realms Section -->
<app-carousel-with-text
  [carousel]="{
    services: false,
    gamingRoom: true,
    vtuberModel: false,
    graphicDesign: false
  }"
></app-carousel-with-text>
<!-- Upgrade Your Streams Section -->
<app-upgrade-streams [checkComponent]="{ gamingRoom: true }"></app-upgrade-streams>
<!-- Level Up Your Streams Section -->
<app-level-up-streams></app-level-up-streams>
<!-- Beyond Reality Section -->
<app-portfolio-3-d-scenes
  [subTitle]="'Beyond Reality'"
  [title]="'3D Animated Scenes'"
  [view]="{
    id: null,
    buttonText: 'View Portfolio',
    buttonLink: '/portfolio'
  }"
></app-portfolio-3-d-scenes>
<!-- Streaming Creativity Section -->
<app-footer-banner
  [dynamicSelection]="{
    home: true,
    services: false,
    gamingRoom: false,
    vtuberModel: false,
    graphicDesign: false
  }"
></app-footer-banner>
