<!-- Gaming Room Header Banner -->
<app-header-banner
  [headerBannerComponent]="{
    portfolio: false,
    services: false,
    gamingRoom: true,
    graphicDesign: false
  }"
></app-header-banner>
<!-- Animated Realms Section -->
<app-animated-realms></app-animated-realms>
<!-- Upgrade Your Streams Section -->
<app-upgrade-streams></app-upgrade-streams>
<!-- Level Up Your Streams Section -->
<app-level-up-streams></app-level-up-streams>
<!-- Beyond Reality Section -->
<app-portfolio-3-d-scenes
  [subTitle]="'Beyond Reality'"
  [title]="'3D Animated Scenes'"
  [view]="{
    id: null,
    buttonText: 'View Portfolio',
    buttonLink: '/portfolio'
  }"
></app-portfolio-3-d-scenes>
<!-- Streaming Creativity Section -->
<app-streaming-creativity-section></app-streaming-creativity-section>
