<!-- Our Service Header Banner Section-->
<app-our-services-header-banner></app-our-services-header-banner>
<!-- Customized Design Services Section-->
 <app-customized-design-services></app-customized-design-services>
<!-- What we can do for you Section -->
<app-what-we-can-do-for-you-section></app-what-we-can-do-for-you-section>
<!-- Pricing Plan Section -->
<app-pricing-plan></app-pricing-plan>
<!-- Customized Design Banner Section -->
 <app-customized-design-banner></app-customized-design-banner>
