<div
  *ngIf="streamingCreativitySection"
  class="container-fluid"
  [style.background-image]="'url(' + streamingCreativitySection.imageUrl + ')'"
  style="
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  "
>
  <div class="section-title mb--20 mb_sm--0 text-center pt-5">
    <h2 class="title rbt-section-title text-white pt-5">
      <span>{{ streamingCreativitySection.mainTitle }}</span>
    </h2>
    <p class="grey fw-bolder fs-5">
      {{ streamingCreativitySection.subtitle }}
    </p>
  </div>
  <div class="text-center pt-4 pb-5">
    <a [routerLink]="streamingCreativitySection.buttonLink">
      <button
        class="btn-opposite rounded-pill btn-dark text-white fw-bolder border ms-2 px-5 py-3 text-uppercase"
      >
        {{ streamingCreativitySection.buttonText }}
      </button>
    </a>
  </div>
</div>
