<div
  *ngIf="designBanner"
  class="container-fluid banner-container"
  [style.background-image]="'url(' + designBanner.imageUrl + ')'"
>
  <div class="overlay"></div>
  <div class="section-title mb--20 mb_sm--0 text-center pt-lg-5 col-md-6 text-center justify-content-center mx-md-auto">
    <h3 class="title d-none d-lg-block rbt-section-title text-white pt-5">
      <span>{{ designBanner.mainTitle }}</span>
    </h3>
    <h3 class="d-lg-none d-block rbt-section-title text-white pt-4">
      <span>{{ designBanner.mainTitle }}</span>
    </h3>
    <p class="grey fw-bolder fs-lg-5">
      {{ designBanner.subtitle }}
    </p>
  </div>
  <div class="text-center pt-lg-4 pb-5">
    <a [routerLink]="designBanner.buttonLink">
      <button
        class="btn-opposite rounded-pill btn-dark text-white fw-bolder border px-5 py-3 text-uppercase"
      >
        {{ designBanner.buttonText }}
      </button>
    </a>
  </div>
</div>
