<!-- Build Stream Section -->
<div *ngIf="buildStreamSection" class="container-fluid bg-black py-4">
  <div class="container border-bottom border-secondary pb-5">
    <div class="row align-items-center justify-content-between">
      <!-- Heading Section -->
      <div class="col-12 col-md-5 mb-3 mb-md-0">
        <h2 class="text-white text-center text-md-start">{{ buildStreamSection.heading }}</h2>
      </div>
      <!-- Button Section -->
      <div class="col-12 col-md-4 col-lg-2 text-center text-md-end">
        <div class="pt-4">
          <button
          class="btn-opposite rounded-pill btn-dark text-white fw-bolder border py-4 text-uppercase w-100"
            [routerLink]="buildStreamSection.buttonLink"
          >
            {{ buildStreamSection.buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
