<div *ngIf="footerData" class="container-fluid bg-black">
  <div class="container">
    <div class="row">
      <div class="col-4 px-5 mb-5">
        <div class="mb-5">
          <img
            [alt]="footerData.logoAltText"
            [src]="footerData.logoUrl"
            class="img-fluid"
            width="200"
            height="200"
          />
        </div>
        <div>
          <p class="grey fw-bolder fs-5">
            {{ footerData.aboutText }}<br /><br />
            <span style="color: #757575; font-family: Poppins">
              <span style="font-size: 16px; letter-spacing: 1px">
                {{ footerData.copyrightText }}
                <a
                  [href]="footerData.copyrightLink"
                  target="_blank"
                  rel="noopener"
                  class="transition-link"
                >
                  Digital Amplify.
                </a>
              </span>
            </span>
            <br /><br />
            <span style="color: #757575; font-family: Poppins">
              <span style="font-size: 16px; letter-spacing: 1px">
                {{ footerData.ourPaymentMethods }}
              </span>
            </span>
            <img
              [alt]="footerData.ourPaymentMethods"
              [src]="footerData.paymentMethodsImg"
              width="300"
              height="21"
              class="alignnone size-full wp-image-4274"
            />
          </p>
        </div>
      </div>
      <div
        class="col-2"
        *ngFor="let heading of footerData.headingList"
      >
        <h4 class="elementor-heading-title">{{ heading.heading }}</h4>
        <ul class="list-group bg-transparent border-none mt-5">
          <li
            *ngFor="let menuItem of heading.menuList"
            class="list-group-item custom-list-item"
          >
            <a [href]="menuItem.linkUrl" class="transition-link fw-bold">
              {{ menuItem.menuName }}
            </a>
          </li>
        </ul>
        <div
          *ngIf="heading.menuIconList?.length"
          class="d-flex justify-content-between fs-6 mt-3"
        >
          <div *ngFor="let iconItem of heading.menuIconList">
            <a [href]="iconItem.iconUrl" class="social-links">
              <i [class]="'bi ' + iconItem.iconClass"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row mt-5">
          <div class="col">
            <input
              type="email"
              class="form-control bg-transparent w-75 py-2 text-center text-white"
              placeholder="Enter Your Email Address"
              [(ngModel)]="input"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <button
              class="btn btn-dark text-white border py-2 w-75 fw-medium text-uppercase"
            >
              <small>{{ footerData.buttonText }}</small>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
