<!-- Portfolio Header Banner Section -->
<app-header-banner
  [headerBannerComponent]="{
    services: false,
    portfolio: true,
    gamingRoom: false,
    vtuberModel: false,
    graphicDesign: false,
  }"
></app-header-banner>
<!-- Portfolio Showcase Section -->
<app-portfolio-showcase></app-portfolio-showcase>
<!-- Portfolio PFPs Section -->
<app-portfolio-pfps></app-portfolio-pfps>
<!-- Portfolio Model -->
<app-portfolio-models></app-portfolio-models>
<!-- Portfolio Emote -->
<app-portfolio-emotes></app-portfolio-emotes>
<!-- Portfolio Stream Pack -->
<!-- <app-portfolio-streampack></app-portfolio-streampack> -->
<!-- Portfolio Banner -->
<!-- <app-portfolio-banner></app-portfolio-banner> -->
<!-- Portfolio 3D Scene -->
<app-portfolio-3-d-scenes></app-portfolio-3-d-scenes>
