<!-- streamer-section.component.html -->
<div class="container-fluid bg-black" *ngIf="streamerSection">
  <div class="row">
    <div class="col-lg-5 offset-1">
      <div>
        <ngb-carousel
          *ngIf="streamerSection.carouselImages?.length"
          [showNavigationArrows]="false"
          [showNavigationIndicators]="false"
        >
          <ng-template
            ngbSlide
            *ngFor="let imageUrl of streamerSection.carouselImages"
          >
            <img [src]="imageUrl" class="img-fluid" alt="Carousel Image" />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="col-lg-5 ps-4">
      <div class="elementor-widget-wrap">
        <div class="elementor-element">
          <div class="section-title mb-4">
            <span class="sub-title">{{ streamerSection.subtitle }}</span>
            <h1 class="text-white text-capitalize">
              {{ streamerSection.title }}
            </h1>
            <p class="grey">{{ streamerSection.description }}</p>
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-6"
            *ngFor="let heading of streamerSection.headings; let i = index"
          >
            <div class="elementor-widget-wrap">
              <div class="elementor-element">
                <h5 class="elementor-heading-title">{{ heading }}</h5>
              </div>
              <div class="elementor-element">
                <p>
                  {{ streamerSection.texts ? streamerSection.texts[i] : "" }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="elementor-widget-wrap">
              <div class="elementor-element">
                <button
                  class="btn rounded-pill btn-dark text-white fw-bolder border ms-2 px-4 py-3 text-uppercase"
                  [routerLink]="streamerSection.buttonLink"
                >
                  {{ streamerSection.buttonText }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
