<!-- Header Banner -->
<ng-container *ngIf="headerBanner">
  <div
    class="container-fluid position-relative bg-black pb-5 vh-custom"
    style="position: relative"
  >
    <!-- Image Element using NgOptimizedImage -->
    <img
      class="img-fluid position-absolute top-0 start-0 h-100 w-100"
      [ngSrc]="headerBanner.imageUrl!"
      fill
      (load)="onLoad(headerBanner.imageUrl!)"
      priority
      decoding="async"
      [alt]="headerBanner.title"
    />
    <app-loader *ngIf="isLoading" class="position-absolute top-50 start-50"></app-loader>
    <!-- Overlay -->
    <div
      class="overlay position-absolute top-0 start-0 w-100 h-100"
      style="background-color: rgba(0, 0, 0, 0.3)"
    ></div>

    <!-- Large Screen Title -->
    <div class="row justify-content-center position-relative d-none d-lg-flex">
      <div class="col-12 text-center" style="padding-top: 3rem; z-index: 2">
        <h1 class="elementor-heading-title fw-bold display-1">
          {{ headerBanner.title }}
        </h1>
      </div>
    </div>

    <!-- Small Screen Title -->
    <div class="row justify-content-center position-relative d-lg-none d-flex">
      <div class="col-12 text-center" style="padding-top: 6rem; z-index: 2">
        <h1 class="elementor-heading-title fw-bold display-4">
          {{ headerBanner.title }}
        </h1>
      </div>
    </div>
  </div>
</ng-container>
