<!-- Header Section -->
<app-header></app-header>

<!-- Banner Section -->
<app-banner-section></app-banner-section>

<!-- Streamer Station Section -->
<app-streamer-station-section></app-streamer-station-section>

<!-- What We Can Do For You Section -->
<app-what-we-can-do-for-you-section></app-what-we-can-do-for-you-section>

<!-- Acquire Section -->
<app-acquire-section></app-acquire-section>

<!-- Counter Card Section -->
<app-counter-card-section></app-counter-card-section>

<!-- Experts Section -->
<app-experts-section></app-experts-section>

<!-- Shop Now Section -->
<app-shop-now-section></app-shop-now-section>

<!-- Blog Hub Section -->
<app-blog-hub-section></app-blog-hub-section>

<!-- Social section -->
<app-social-section></app-social-section>

<!-- Streaming Creativity -->
<app-streaming-creativity-section></app-streaming-creativity-section>

<!-- Enough Talk Let's Build Your Stream together -->
<app-build-stream-section></app-build-stream-section>

<!-- Footer Section-->
<app-footer-section></app-footer-section>
