<!-- shop.component.html -->
<div class="container-fluid bg-black" *ngIf="shopNowSection">
  <div class="row text-center">
    <span class="sub-title">{{ shopNowSection.subtitle }}</span>
    <h2 class="title text-white">
      <span>{{ shopNowSection.title }}</span>
    </h2>
    <p class="grey">{{ shopNowSection.description }}</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 mx-5" *ngFor="let item of shopNowSection.cardList">
      <div class="card bg-transparent py-5" style="width: 17rem">
        <img
          [src]="item.imageUrl"
          [alt]="item.altText"
          width="300"
          height="300"
          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail lazyloaded img-fluid"
        />
        <h5>
          <a
            [href]="item.link"
            class="woocommerce-LoopProduct-link nav-link text-white fw-bolder pt-3"
          >
            {{ item.title }}
          </a>
        </h5>
        <div class="products-shop">
          <span class="price grey fw-bolder">{{ item.priceRange }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button
      class="btn rounded-pill btn-dark text-white fw-bolder border ms-2 px-4 py-3 text-uppercase"
      [routerLink]="shopNowSection.buttonUrl"
    >
      {{ shopNowSection.buttonText }}
    </button>
  </div>
</div>
