<!-- shop.component.html -->
<div class="container-fluid bg-black" *ngIf="shopNowSection">
  <!-- Section Header -->
  <div class="row text-center py-5">
    <div class="col-12">
      <span class="sub-title text-secondary fw-bold">{{ shopNowSection.subtitle }}</span>
      <h2 class="title text-white mt-2">
        <span>{{ shopNowSection.title }}</span>
      </h2>
      <p class="text-secondary">{{ shopNowSection.description }}</p>
    </div>
  </div>

  <!-- Product Cards -->
  <div class="row justify-content-between">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let item of shopNowSection.cardList">
      <div class="card bg-transparent py-4 h-100">
        <img
          [src]="item.imageUrl"
          [alt]="item.altText"
          width="300"
          height="300"
          class="img-fluid rounded lazyloaded"
        />
        <h5 class="mt-3">
          <a
            [href]="item.link"
            class="woocommerce-LoopProduct-link nav-link text-white fw-bolder"
          >
            {{ item.title }}
          </a>
        </h5>
        <div class="products-shop">
          <span class="price text-secondary fw-bolder">{{ item.priceRange }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action Button -->
  <div class="row justify-content-center py-4">
    <div class="col-auto">
      <button
        class="btn rounded-pill btn-dark text-white fw-bolder border px-4 py-3 text-uppercase"
        [routerLink]="shopNowSection.buttonUrl"
      >
        {{ shopNowSection.buttonText }}
      </button>
    </div>
  </div>
</div>
