<!-- acquire-section.component.html -->
<div
  class="container-fluid bg-black"
  style="padding-bottom: 9%"
  *ngIf="acquireSection"
>
  <div class="row">
    <div class="col-lg-5 offset-lg-1">
      <div>
        <ngb-carousel
          [showNavigationArrows]="false"
          [showNavigationIndicators]="false"
        >
          <ng-template
            ngbSlide
            *ngFor="let slide of acquireSection?.carouselSlides; let i = index"
          >
            <img
              [ngSrc]="slide.imageUrl!"
              [alt]="slide.altText"
              [priority]="i === 0"
              class="img-fluid"
              decoding="async"
              width="600"
              height="600"
            />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="col-lg-5 ps-4">
      <div class="elementor-widget-wrap">
        <div class="elementor-element">
          <div class="section-title mb-4">
            <span class="sub-title">{{ acquireSection.subTitle }}</span>
            <h1 class="text-white text-capitalize mt-5">
              {{ acquireSection.title }}
            </h1>
            <p class="grey mt-5">{{ acquireSection.description }}</p>
          </div>
        </div>
        <div class="row my-5" *ngFor="let link of acquireSection?.usefulLinks">
          <a [href]="link.url" class="text-white green-line fw-bold">{{
            link.linkText
          }}</a>
        </div>
        <div class="mt-5" *ngFor="let button of acquireSection?.callToActions">
          <button
            class="btn rounded-pill btn-dark text-white fw-bolder border px-4 py-3 text-uppercase"
            [routerLink]="button.buttonUrl"
          >
            {{ button.buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fallback for entire section if data is not available -->
<div *ngIf="!acquireSection" class="container-fluid bg-black">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center text-danger">
      <h2 class="fw-bold">Acquire Section Data Not Available</h2>
      <p>
        Sorry, there are no items available for the acquire section at the
        moment.
      </p>
    </div>
  </div>
</div>
