<div class="container my-5 my-lg-0">
  <h2 class="text-white mb-4">Register</h2>
  <div class="row mx-auto">
    <form
      class="border border-secondary grey rounded p-4 needs-validation py-5"
      novalidate
    >
      <div class="mb-3">
        <label for="name" class="form-label"
          >Username <span class="text-danger fw-bolder fs-5">*</span></label
        >
        <input
          type="name"
          autocomplete="name"
          class="form-control bg-dark grey"
          id="name"
          aria-describedby="userName"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label"
          >Email Address
          <span class="text-danger fw-bolder fs-5">*</span></label
        >
        <input
          type="email"
          autocomplete="email"
          class="form-control bg-dark grey"
          id="email"
          aria-describedby="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"
          >Password
          <span class="text-danger fw-bolder fs-5">*</span>
        </label>
        <input
          type="password"
          autocomplete="current-password"
          class="form-control bg-dark grey"
          id="password"
        />
      </div>
      <div class="mb-3">
        <p class="grey">
          Your personal data will be used to support your experience throughout
          this website, to manage access to your account, and for other purposes
          described in our
        </p>
      </div>
      <div class="row mx-auto justify-content-between d-none d-lg-flex">
        <button type="submit" class="btn text-white fw-bold col-lg-2">
          Register
        </button>
      </div>
      <div class="row mx-auto justify-content-between d-lg-none d-flex">
        <button type="submit" class="btn btn-sm text-white fw-bold col-6">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
