<!-- Social Section -->
<div class="container-fluid bg-black pb-5" *ngIf="socialSection">
  <div class="row justify-content-center">
    <!-- Profile and Posts Section -->
    <div class="col-12 col-md-10 col-lg-5">
      <div class="d-flex align-items-center mb-4">
        <img
          [src]="socialSection.profileImageUrl"
          [alt]="socialSection.profileImageAltText"
          class="img-fluid rounded-circle"
          width="80"
          height="80"
        />
        <span class="h4 text-white ms-3">{{ socialSection.title }}</span>
      </div>
      <div class="row mb-3">
        <div
          *ngFor="let post of socialSection.postList; let i = index"
          class="col-6 col-sm-4 col-md-3 mb-2"
        >
          <img
            [src]="post.imageUrl"
            [alt]="post.altText"
            class="img-fluid rounded"
          />
        </div>
      </div>
      <div class="text-center my-3">
        <button class="btn btn-sm btn-dark text-white fw-bold text-uppercase">
          <svg
            class="svg-inline--fa fa-instagram mb-1"
            aria-hidden="true"
            data-fa-processed=""
            aria-label="Instagram"
            data-prefix="fab"
            data-icon="instagram"
            role="img"
            viewBox="0 0 448 512"
            style="width: 1rem"
          >
            <path
              fill="currentColor"
              [attr.d]="socialSection.buttonIconSvg"
            ></path>
          </svg>
          <small class="ms-2">{{ socialSection.buttonText }}</small>
        </button>
      </div>
    </div>

    <!-- Description and Social Links Section -->
    <div class="col-12 col-md-10 col-lg-5 mt-5 pt-5 text-center px-3">
      <div class="elementor-element">
        <div class="section-title">
          <span class="sub-title mt-3 text-secondary fw-bold">{{ socialSection.subTitle }}</span>
          <h1 class="text-white text-capitalize fw-bolder mt-3" style="font-size: 2.5rem">
            {{ socialSection.title }}
          </h1>
          <p class="text-secondary fs-5 mt-4">
            {{ socialSection.description }}
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <div *ngFor="let link of socialSection.socialMediaLinks" class="mx-3">
          <a class="nav-link" [routerLink]="link.url">
            <i
              [class]="link.icon"
              [ngbTooltip]="link.platform"
              placement="top"
              triggers="hover"
              style="font-size: 1.5rem"
            ></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
