<div class="card bg-dark text-white my-5">
  <div class="card-body pe-lg-0">
    <h5 class="card-title">Cart Totals</h5>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>Subtotal</td>
          <td>{{ subtotal | currency }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{ total | currency }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success w-100 mb-2" (click)="proceedToCheckout()">
      Proceed to Checkout
    </button>
    <button
      class="btn btn-warning w-100 mb-2 text-dark"
      (click)="payWithPaypal()"
    >
      <i class="bi bi-paypal text-primary"></i>
      PayPal
    </button>
    <button class="btn btn-dark w-100" (click)="payWithGooglePay()">
      <i class="bi bi-google text-danger"></i>
      Pay with <span style="color: #4285f4">G</span
      ><span style="color: #ea4335">o</span><span style="color: #fbbc05">o</span
      ><span style="color: #34a853">g</span><span style="color: #ea4335">l</span
      ><span style="color: #4285f4">e</span> Pay
    </button>
  </div>
</div>
