<!-- Header Banner -->
<app-header-banner [headerBannerComponent]="{ about: true }"></app-header-banner>
<!-- Ultimate Destination For Streamers Section -->
<app-ultimate-destination></app-ultimate-destination>
<!-- What we can do for you Section -->
<app-what-we-can-do-for-you-section></app-what-we-can-do-for-you-section>
<!-- Get To Know Section -->
<app-upgrade-streams [checkComponent]="{ about: true }"></app-upgrade-streams>
<!-- Counter Cards Section -->
<app-counter-card-section [checkComponent]="{ about: true }"></app-counter-card-section>
<!-- Experts Section -->
<app-experts-section></app-experts-section>
