<!-- Counter Cards Section -->
<div
  *ngIf="counterCardsSection"
  class="container-fluid py-5"
  [style.background-image]="'url(' + counterCardsSection.imageUrl + ')'"
  style="background-size: cover; background-repeat: no-repeat; background-attachment: fixed;"
>
  <div class="row justify-content-evenly py-5">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4 text-center" *ngFor="let counter of counterCardsSection.counterCards">
      <div class="card bg-dark text-white py-5 h-100">
        <i class="{{ counter.icon }} fs-1"></i>
        <h2 class="counter text-white">{{ counter.countValue }}</h2>
        <p class="text-secondary">{{ counter.label }}</p>
      </div>
    </div>
  </div>
</div>