<div class="container-fluid bg-image">
  <div
    class="row justify-content-center"
    style="padding-top: 7%; padding-bottom: 7%"
  >
    <div class="col-2 mx-4 text-center">
      <div class="card bg-card py-5" style="width: 17rem">
        <i class="bi bi-people elementor-heading-title fs-1"></i>
        <h2 class="counter text-white">800</h2>
        <p class="grey">Satisfied Streamers</p>
      </div>
    </div>
    <div class="col-2 mx-4 text-center">
      <div class="card bg-card py-5" style="width: 17rem">
        <i class="bi bi-people elementor-heading-title fs-1"></i>
        <h2 class="counter text-white">800</h2>
        <p class="grey">Satisfied Streamers</p>
      </div>
    </div>
    <div class="col-2 mx-4 text-center">
      <div class="card bg-card py-5" style="width: 17rem">
        <i class="bi bi-people elementor-heading-title fs-1"></i>
        <h2 class="counter text-white">800</h2>
        <p class="grey">Satisfied Streamers</p>
      </div>
    </div>
    <div class="col-2 mx-4 text-center">
      <div class="card bg-card py-5" style="width: 17rem">
        <i class="bi bi-people elementor-heading-title fs-1"></i>
        <h2 class="counter text-white">800</h2>
        <p class="grey">Satisfied Streamers</p>
      </div>
    </div>
  </div>
</div>
