<div *ngIf="carousel?.items && carousel?.items?.length">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        *ngFor="let item of carousel?.items; let i = index"
        type="button"
        [attr.data-bs-slide-to]="i"
        [ngClass]="{ active: i === 0 }"
        [attr.aria-label]="'Slide ' + (i + 1)"
        [attr.aria-current]="i === 0 ? 'true' : null"
      ></button>
    </div>

    <div class="carousel-inner">
      <div
        *ngFor="let item of carousel?.items; let i = index"
        class="carousel-item position-relative"
        [ngClass]="{ active: i === 0 }"
      >
        <img [src]="item.imageUrl" class="d-block w-100" alt="..." />
        <div
          class="position-absolute top-50 start-50 translate-middle text-center text-light"
        >
          <div class="container">
            <h1 class="fw-bolder title">{{ item.title }}</h1>
            <p class="fw-medium fs-4">{{ item.description }}</p>
            <div class="slide-btn">
              <button
                class="btn rounded-pill btn-dark text-white fw-bolder border ms-2 px-5 py-2 text-uppercase"
                [routerLink]="item.buttonLink"
              >
                {{ item.buttonText }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Placeholder or default content when carousel data is not available -->
<div *ngIf="!carousel?.items || carousel?.items?.length === 0">
  <div class="container-fluid text-center bg-black pt-5 pb-5 text-danger">
    <h2 class="fw-bold">Carousel Data Not Available</h2>
    <p class="m-0">
      Sorry, there are no items available for the carousel at the moment.
    </p>
  </div>
</div>
